@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --primarycolor: #64CC22;
    --secondarycolor: #ffffff;
    --font1: "Rubik", serif;
    --nav_link_hover: #303030;
    --background-color: #ffffff;
    --font2: "Raleway", serif;
    --font3: "Roboto Condensed", serif;
    --font4: "Poppins", serif;
    --bg-color-1: #303030;
    --bg-color-2: #F3F3F3;
    --color: #101010;
    --color1: #F4F4F4;
}


#about{
    padding-top: 128px;
}



@media(max-width: 1025px){
    #about{
        padding-top: 84px;
    }   
}


/* Section 1 */

#about-section-1{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../../Assets//main_bg.png");
}

#about-section-1-div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-section-1-div-1-p-1{
    font-family: var(--font1);
font-weight: 900;
font-size: 32px;
line-height: 38.98px;
letter-spacing: 0%;
color: var(--secondarycolor);
}

#about-section-1-div-1-p-2{
    font-family: var(--font1);
font-weight: 900;
font-size: 14px;
line-height: 17.05px;
letter-spacing: 0%;
color: var(--primarycolor);
border: 2px solid var(--primarycolor);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 0px;
border-radius: 30px;
}

