 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --primarycolor: #64CC22;
    --secondarycolor: #ffffff;
    --font1: "Rubik", serif;
    --nav_link_hover: #303030;
    --background-color: #ffffff;
    --font2: "Raleway", serif;
    --font3: "Roboto Condensed", serif;
    --font4: "Poppins", serif;
    --bg-color-1: #303030;
    --bg-color-2: #F3F3F3;
    --color: #101010;
    --color1: #F4F4F4;
}


#home{
    padding-top: 128px;
}



@media(max-width: 1025px){
    #home{
        padding-top: 84px;
    }   
}




/* Section 1 */

#d-block {
    height: 79vh;
    width: 100%;
    object-fit: cover;
  }


  #carousel-image {
    position: relative;
  }
  
  #carousel-content {
    height: 79vh;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #carousel-content-1-div-1{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  #carousel-content-1-div-1-p-1{
    margin-left: 50px;
    font-family: var(--font2);
font-size: 24px;
font-weight: 600;
color: var(--primarycolor);
  }
 
#carousel-content-1-div-1-line{
    height: 3px;
    width: 250px;
    background-color: var(--primarycolor);
    margin-top: 20px;
}  




#carousel-content-1-div-2-h6-1{
    margin-left: 50px;
    font-family: var(--font2);
font-size: 38px;
font-weight: 900;
line-height: 58px;
text-align: left;
color: var(--bg-color-1);
width: 800px;
}


#carousel-content-1-div-3-p-1{
    margin-left: 50px;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: var(--bg-color-1);
    width: 600px;  
}

#carousel-content-1-div-3-button{
    margin-left: 50px;
    border: none;
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    font-family: var(--font2);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
}

@media(max-width: 1024px){
    #d-block{
        height: 60vh;
    }

    #carousel-content{
        height: 60vh;
    }
}

@media(max-width: 993px){
   #carousel-content-1-div-1-line{
width: 150px;
   }

    #carousel-content-1-div-2-h6-1{
        width: 100%;
    }

    #carousel-content-1-div-3-p-1{
        width: 100%;
    }
}

@media(max-width: 769px){
    #d-block{
        height: 60vh;
    }

    #carousel-content{
        height: 60vh;
    }

    #carousel-content-1-div-1-line{
        display: none;
    }

    #carousel-content-1-div-2-h6-1{
        font-size: 40px;
        width: 600px;
    }

    #carousel-content-1-div-3-p-1{
        font-weight: 20px;
    }
}

@media(max-width: 755px){

    #carousel-content-1-div-1-p-1{
margin-left: 0px;
    }

    #carousel-content-1-div-2-h6-1{
margin-left: 0px;
line-height: 60px;
    }

    #carousel-content-1-div-3-p-1{
       margin-left: 0px;
    }

    #carousel-content-1-div-3-button{
     margin-left: 0px;
    }
}

@media(max-width: 645px){


    #carousel-content-1-div-1-p-1{
        margin-left: 20px;
            }
        
            #carousel-content-1-div-2-h6-1{
        margin-left: 20px;
        width: 100%;
            }
        
            #carousel-content-1-div-3-p-1{
               margin-left: 20px;
            }
        
            #carousel-content-1-div-3-button{
             margin-left: 20px;
            }


}

@media(max-width: 500px){
    #carousel-content-1-div-2-h6-1{
        width: 100%;
        padding: 10px;
    }

    #carousel-content-1-div-3-p-1{
     width: 100%;
     padding: 10px;
    }

    #carousel-content-1-div-3-button{
        margin-left: 50px;
        border: none;
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        font-family: var(--font2);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    }
    
    #carousel-content-1-div-2-h6-1{
        margin-left: 50px;
        font-family: var(--font2);
    font-size: 28px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    color: var(--bg-color-1);
    }
    
    
    #carousel-content-1-div-3-p-1{
        margin-left: 50px;
        font-family: var(--font1);
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        color: var(--bg-color-1);
    }
    

}

@media(max-width: 426px){
    
    #carousel-content-1-div-1-p-1{
        margin-left: 20px;
            }
        
            #carousel-content-1-div-2-h6-1{
                font-size: 30px;
        margin-left: 20px;
        line-height: 35px;
            }
        
            #carousel-content-1-div-3-p-1{
               margin-left: 20px;
               font-size: 18px;
               line-height: 30px;
            }
        
            #carousel-content-1-div-3-button{
             margin-left: 20px;
            }
}



#carousel-arrow{
    background-color: var(--bg-color-1);
    color: var(--secondarycolor);
    font-size: 30px;
    padding: 5px;
}


/* Section 2 */

#home-section-2{
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-section-2-div-1{
display: flex;
flex-direction: row;
align-items: center;
gap: 50px;
}

#home-section-2-div-1-2-1{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
}

#home-section-2-div-1-2-1-line{
 width: 50px;
 height: 3px;
 background-color: var(--primarycolor);
}


#home-section-2-div-1-2-1-p-1{
    margin-bottom: 0px;
    font-family: var(--font1);
font-size: 18px;
font-weight: 500;
color: var(--bg-color-1);
}

#home-section-2-div-1-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#home-section-2-div-1-2-2-p-1{
    font-family: var(--font1);
font-size: 20px;
font-weight: 600;
margin-bottom: 0px;
color: var(--bg-color-1);
}

#home-section-2-div-1-2-2-p-2{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
    color: var(--bg-color-1);
}

#home-section-2-div-1-2-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#home-section-2-div-1-2-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#home-section-2-div-1-2-3-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#home-section-2-div-1-2-3-1-2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#home-section-2-div-1-2-3-1-2-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
color: var(--bg-color-1);
margin-bottom: 0px;
}

#home-section-2-div-1-2-3-1-2-p-2{
    font-family: var(--font1);
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: var(--bg-color-1);
width: 200px;
margin-bottom: 0px;
}

#home-section-2-div-1-2-3-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#home-section-2-div-1-2-3-2-2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#home-section-2-div-1-2-3-2-2-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
color: var(--bg-color-1);
margin-bottom: 0px;
}

#home-section-2-div-1-2-3-2-2-p-2{
    font-family: var(--font1);
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: var(--bg-color-1);
width: 200px;
margin-bottom: 0px;
}

#home-section-2-div-1-2-4-button{
    border: none;
    font-family: var(--font1);
font-size: 16px;
font-weight: 500;
background-color: var(--primarycolor);
color: var(--secondarycolor);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 3px;
}

@media(max-width: 1024px){
    #home-section-2-div-1-1{
        display: none;
    }

    #home-section-2-div-1-2{
        align-items: center;
    }

    #home-section-2-div-1-2-2{
        align-items: center;
    }

    #home-section-2-div-1-2-2-p-2{
       text-align: center;
    }

}

@media(max-width: 600px){
    #home-section-2-div-1-2-2-p-1{
      text-align: center;
    }
    #home-section-2-div-1-2-3{
     flex-direction: column;
    }
}


/* Section 3 */


#home-section-3{
    background-image: url("../../Assets//service.png");
    background-repeat: no-repeat;
    background-size: cover;
   padding-top: 50px;
   padding-bottom: 60px;
}

#home-section-3-div-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#home-section-3-div-1-button-1{
    border: none;
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
background-color: var(--primarycolor);
color: var(--secondarycolor);
padding-top: 7px;
padding-bottom: 7px;
padding-left: 20px;
padding-right: 20px;
border-radius: 3px;
}

#home-section-3-div-1-button-2{
    border: none;
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
background-color: var(--secondarycolor);
color: var(--primarycolor);
padding-top: 7px;
padding-bottom: 7px;
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
-webkit-box-shadow: 0px 0px 3px 0px rgba(173,173,173,1);
-moz-box-shadow: 0px 0px 3px 0px rgba(173,173,173,1);
box-shadow: 0px 0px 3px 0px rgba(173,173,173,1);
}

#home-section-3-div-2{
    margin-top: 20px;
}

#home-section-3-div-2-p-1{
    font-family: var(--font1);
font-size: 26px;
font-weight: 600;
color: var(--background-color);
}

#home-section-3-div-3{
    margin-top: 20px;
}

#home-section-3-div-3-1{
    display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
       justify-items: center;
        gap: 40px; 
}

#home-section-3-div-3-1-card-1{
    width: 280px;
    background-color: var(--background-color);
    border-radius: 5px;
}

#home-section-3-div-3-1-card-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}


#home-section-3-div-3-1-card-1-1-img{
    width: 270px;
height: 188px;
}

#home-section-3-div-3-1-card-1-2-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
line-height: 22px;
color: var(--bg-color-1);
margin-bottom: 0px;
margin-left: 10px;
}

#home-section-3-div-3-1-card-1-2-p-2{
    margin-top: 10px;
    font-family: var(--font1);
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: var(--bg-color-1);
margin-bottom: 0px;
margin-left: 10px;
text-align: justify;
margin-right: 10px;
}

#home-section-3-div-3-1-card-1-3{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#home-section-3-div-3-1-card-1-3-button{
    border: none;
    color: var(--primarycolor);
    font-family: var(--font1);
font-size: 14px;
font-weight: 600;
background-color: transparent;
margin-top: 10px;
margin-bottom: 20px;
margin-right: 10px;
}

@media(max-width: 1022px){
    #home-section-3-div-3-1{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       gap: 20px;
    }
}

@media(max-width: 500px){
    #home-section-3{
        padding-bottom: 120px;
    }
    #home-section-3-div-2-p-1{
    text-align: center;
    }
}


/* Home-section-4 */


#home-section-4{
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-section-4-div-1-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 500;
color: var(--primarycolor);
text-align: center;
}

#home-section-4-div-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-section-4-div-2-p-1{
    width: 750px;
    font-family: var(--font1);
font-size: 15px;
font-weight: 400;
line-height: 28px;
text-align: center;
}

@media(max-width: 768px){
    #home-section-4-div-2-p-1{
        width: 100%;
    }
}

#home-section-4-div-3{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
gap: 50px;
}

#home-section-4-div-3-1{
 margin-top: 3px;
}

#home-section-4-div-3-1-1{
    width: 600px;
    padding: 10px;
    background-color: var(--secondarycolor);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(189,187,189,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(189,187,189,1);
  box-shadow: 0px 0px 5px 0px rgba(189,187,189,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media(max-width: 1279px){
    #home-section-4-div-3-1-1{
      width: 400px;
    }
}

#home-section-4-div-3-1-1-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}



#home-section-4-div-3-1-1-1-1{
    background-color: var(--primarycolor);
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-section-4-div-3-1-1-1-1-p-1{
  margin-bottom: 0px;
  font-family: var(--font1);
  font-size: 15px;
  font-weight: 900;
  color: var(--secondarycolor);
}

#home-section-4-div-3-1-1-1-2-p-1{
    margin-bottom: 0px;
    font-family: var(--font1);
font-size: 15px;
font-weight: 600;
color: var(--color);
}

#home-section-4-div-3-1-1-2-1{
    background-color: var(--primarycolor);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-section-4-div-3-1-1-2-1-ico{
    margin-bottom: 0px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: bold;
    color: var(--secondarycolor);
}

#home-section-4-div-3-1-2{
    width: 600px;
    padding: 20px;
    background-color: var(--secondarycolor);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(189,187,189,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(189,187,189,1);
  box-shadow: 0px 0px 5px 0px rgba(189,187,189,1);
  border-top: 1px solid var(--primarycolor);
}

#home-section-4-div-3-1-2-p-1{
    font-family: var(--font1);
font-size: 14px;
font-weight: 500;
line-height: 24px;
margin-bottom: 0px;
color: var(--color);
text-align: justify;
}

@media(max-width: 1279px){
    #home-section-4-div-3-1-1{
      width: 400px;
    }

    #home-section-4-div-3-1-2{
      width: 400px;
    }
}

@media(max-width: 919px){
    #home-section-4-div-3-2{
        display: none;
    }
    #home-section-4-div-3-1-1{
        width: 600px;
      }
  
      #home-section-4-div-3-1-2{
        width: 600px;
      }
}

@media(max-width: 767px){
    #home-section-4-div-3-1-1{
        width: 100%;
      }
  
      #home-section-4-div-3-1-2{
        width: 100%;
      }   
}

/* Section 5 */

#home-section-5{
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-section-5-div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-section-5-div-1-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 500;
color: var(--primarycolor);
text-align: center;
margin-bottom: 0px;
}


#home-section-5-div-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
}

#home-section-5-div-2-card{
    width: 300px;
    background-color: var(--secondarycolor);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
}

#home-section-5-div-2-card{
    padding: 10px;
}

#home-section-5-div-2-card-1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  justify-content: center;
  gap: 5px;
}

#home-section-5-div-2-card-1-star{
    color: var(--primarycolor);
}


#home-section-5-div-2-card-2-p-1{
    margin-top: 10px;
    font-family: var(--font1);
font-size: 15px;
font-weight: 400;
line-height: 25px;
text-align: center;
color: var(--color);
margin-bottom: 0px;
}

#home-section-5-div-2-card-3{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-section-5-div-2-card-4-p-1{
    margin-top: 10px;
    font-family: var(--font1);
font-size: 16px;
font-weight: 500;
text-align: center;
color: var(--color);
}

#home-section-5-div-2-card-5-p-1{
    font-family: var(--font1);
font-size: 15px;
font-weight: 400;
line-height: 17.78px;
text-align: center;
color: var(--color);
}

/* Section 6 */



#home-section-6{
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-section-6-div-1-p-1{
    font-family: var(--font1);
font-weight: 500;
font-size: 18px;
line-height: 21.33px;
letter-spacing: 0%;
color: var(--primarycolor);
text-align: center;
}

#home-section-6-div-2{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Section 7 */

#home-section-7{
    padding-top: 50px;
    padding-bottom: 50px;
 }
 
 #home-section-7-div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 #home-section-7-div-1-p-1{
    font-family: var(--font1);
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: var(--primarycolor);
    text-align: center;    
 }
 
 #home-section-7-div-1-p-2{
    font-family: var(--font1);
 font-weight: 500;
 font-size: 18px;
 color: var(--color);
 text-align: center;
 }
 
 #home-section-7-div-1-p-3{
    font-family: var(--font1);
 font-weight: 400;
 font-size: 15px;
 line-height: 25px;
 text-align: center;
 width: 800px;
 }
 
 @media(max-width: 769px){
    #home-section-7-div-1-p-3{
        font-family: var(--font1);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    }
 }
 
 #home-section-7-div-2{
 padding-top: 50px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 gap: 30px;
 
 }
 
 #home-section-7-div-2-card{
    width: 280px;
 }
 
 #home-section-7-div-2-card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
 }
 
 #home-section-7-div-2-card-2-p-1{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    margin-bottom: 0px;
    font-family: var(--font1);
 font-weight: 600;
 font-size: 18px;
 text-align: center;
 width: 200px;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 -moz-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 padding: 10px;
 border-radius: 3px;
 }
 
 #home-section-7-div-2-card-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
 }
 
 #home-section-7-div-2-card-3-1{
    background-color: var(--secondarycolor);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 -moz-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 }
 
 #home-section-7-div-2-card-3-1-ico-1{
    color: var(--primarycolor);
    font-size: 18px;
 }
 
 #home-section-7-div-2-card-3-2{
    background-color: var(--secondarycolor);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 -moz-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 }
 
 #home-section-7-div-2-card-3-2-ico-1{
    color: var(--primarycolor);
    font-size: 18px;
 }
 
 
 #home-section-7-div-2-card-3-3{
    background-color: var(--secondarycolor);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 -moz-box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 box-shadow: 0px 0px 5px 0px rgba(163,161,163,1);
 }
 
 #home-section-7-div-2-card-3-3-ico-1{
    color: var(--primarycolor);
    font-size: 18px;
 }

 /* Section 8 */

 #home-section-8{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color1);
 }

 #home-section-8-div-1-p-1{
    font-family: var(--font1);
font-weight: 500;
font-size: 20px;
line-height: 23.98px;
letter-spacing: 0%;
color: var(--color);
text-align: center;
 }

 #home-section-8-div-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 #home-section-8-div-2-input{
    font-family: var(--font1);
font-weight: 500;
font-size: 14px;
line-height: 16.59px;
letter-spacing: 0%;
color: var(--color1);
padding: 10px;
width: 250px;
border: none;
 }

 #home-section-8-div-2-button{
    border: none;
    background-color: var(--primarycolor);
    border-radius: 2px;
    height: 36px;
 }

 #home-section-8-div-2-button-ico{
    font-size: 24px;
    color: var(--secondarycolor);
    padding: 4px;
 }